<form method='post' action='<%= building_path(@building.id) %>'>
  Name:
  <input type='text' name='building[name]' value='<%= @building.name %>' autofocus>
  <br>
  Style:
  <input type='text' name='building[style]' value='<%= @building.style %>'>
  <br>
  Height:
  <input type='text' name='building[height]' value='<%= @building.height %>'>
  <br>
  Floors:
  <input type='text' name='building[floors]' value='<%= @building.floors %>'>
  <br>
   Street Address:
  <input type='text' name='building[street]' value='<%= @building.street %>'>
  <br>
  Y-Coordinate:
  <input type='text' name='building[y_coord]' value='<%= @building.y_coord %>'>
  <br>
  X-Coordinate:
  <input type='text' name='building[x_coord]' value='<%= @building.x_coord %>'>
  <br>
  Image
  <input type='text' name='building[img]' value='<%= @building.img %>'>
  <br>
  <img src="<%= @building.img %>" >
  <br>
  <button>Update Building</button>
</form>
