<%= link_to 'Home', home_path %>
<%= link_to 'Create Building', building_new_path %>

<% @buildings.each do |building| %>
<h3>Name: <%= link_to(building.name, building_path(building.id)) %></h3>
<%= button_to 'Delete', building_delete_path(building.id) %>
<%= link_to 'Edit', building_edit_path(building.id) %>
<% end %>
