<!DOCTYPE html>
<html>
<head>
  <title>Spatia.ly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyfhHl0iRpNE1mpYM1O741wt6oe3xhdA&sensor=false"></script>
</head>
<body>

    <header>
      <h1><%= link_to 'spatia.ly', home_path %></h1>
    </header>

    <!-- <p><%= notice %></p> -->

    <nav id="topNav">
      <ul>
        <% if current_user %>
          <li id="nav_two"><% else %><li id="nav_one"><% end %><a href="/views/cities" title="Nav_Cities">Cities</a>
              <ul>

                  <li><a href="#" id="allCities">All Cities</a></li>
                  <li><a href="#" id="changeChicago">Chicago</a></li>
                  <li><a href="#" id="changeLondon">London</a></li>
                  <li><a href="#" id="changeLA">Los Angeles</a></li>
                  <li><a href="#" id="changeMoscow">Moscow</a></li>
                  <li><a href="#" id="changeNY">New York</a></li>
                  <li><a href="#" id="changeParis">Paris</a></li>
                  <li><a href="#" id="changeSF">San Francisco</a></li>
                  <li><a href="#" id="changeShanghai">Shanghai</a></li>
                  <li><a href="#" id="changeTokyo">Tokyo</a></li>
              </ul>
          </li>
          <li id="nav_two"><a href="/views/buildings" title="Nav_Buildings">Buildings</a>
              <ul>
                  <li><a href="/views/buildings">Browse Buildings</a></li>
                  <li><a href="">Top Ten</a></li>
                  <% get_buildings.each do |building| %>
                  <li><a href="/views/show_building/<%= building.id %>"><%= building.name %></a></li>
                  <% end %>
              </ul>
          </li>
          <li id="nave_three"><a href="/views/architects" title="Nav_Architects">Architects</a>
              <ul>
                  <li><a href="/views/architects">Browse Architects</a></li>
                  <% get_architects.each do |architect| %>
                  <li><a href="#"><%= architect.name %></a></li>
                  <% end %>
                  <li><a href="#">Add Architect</a></li>
              </ul>
          </li>
          <li id="nav_four"><a href="/views/styles" tile="Nav_Styles">Styles</a>
            <ul>
              <li><a href="/views/cities">Browse Styles</a></li>
            </ul>
          </li>

          <% if current_user %>
          <li id="nav_six"><a href=""><%= current_user.username %></a>
            <ul>
              <li><a href="/users/<%= current_user.id %>">Profile</a></li>
              <li><a href="/users/<%= current_user.id %>/favorites">Favorites</a></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
            <li id="nav_five"><%= link_to "Log in with Twitter", '/auth/twitter' %></li>
          <% end %>
      </ul>
</nav>

<script>
 (function($){

        //cache nav
        var nav = $("#topNav");

        //add indicator and hovers to submenu parents
        nav.find("li").each(function() {
          if ($(this).find("ul").length > 0) {
            $("<span>").text("^").appendTo($(this).children(":first"));

            //show subnav on hover
            $(this).mouseenter(function() {
              $(this).find("ul").stop(true, true).slideDown();
            });

            //hide submenus on exit
            $(this).mouseleave(function() {
              $(this).find("ul").stop(true, true).slideUp();
            });
          }
        });
      })(jQuery);
</script>

    <%= yield %>


</body>
</html>
